.landing-page .logo-wr::before {
    display: none;
}

.landing-page .logo-img {
    background: transparent;
}

.navbar-inner .logo-wr {
    background: transparent;
    box-shadow: none;
}

p.tree_item.branch {
    color: #0e28e2;
}

#block-region-side-post .block .calendartable .calendar-controls, #block-region-side-post div.minicalendarblock caption {
    background-color: #e6e7e8;
}